@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

$base-color: #3a3a46;
$text-color-main: #ffffff;
$text-color-heading: #6c63ff;
$footer-color: #343449;

.current {
  color: green;
}

img {
  width: 100%;
}

.button {
  border: solid 1px $text-color-main;
  padding: .1em .2em;
}

.gap {
  padding: 1em 0;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', arial;
  background-color: $base-color;
  color: $text-color-main;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

// navigation
.nav-container {
  margin: 1em;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    li {
      padding: 2em 0;
      a {
        text-decoration: none;
        color: $text-color-main;
        border: solid 2px $text-color-main; 
        padding: .25em .5em;
      }
      a:hover {
        background-color: $text-color-main;
        color: $base-color;
        box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
      }
    }
  }  
}

// hero-banner
.hero {
  display: grid;
  text-align: center;

  .content {
    margin-bottom: 1em;
    h1 {
      color: $text-color-heading;
      animation-name: droppingh1;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
    }
    p {
      color: $text-color-main;
      width: 60%;
      margin: auto;
      animation-name: droppingp;
      animation-duration: 6s;
      animation-timing-function: ease-in-out;
    }
    
  }

  .hero-image {
    margin-top: 1em;
  }
}

// section
.section {
  text-align: center;
  padding: 2em;
  .content {
    margin: auto;
    h1 {
      span{
        font-size: large;
        padding: 1em;
        border: solid 2px $text-color-main;  
      }
      span:hover{
        background-color: $text-color-main;
        color: $base-color;
        box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
      }
    }
    ul {
      list-style-type: none;
      text-align: left;
      li {
        padding: .5em 0;
        a {
          text-decoration: underline;
          color: $text-color-main;
        }
        p {
          padding: 0;
        }
      }
    }
  }
}

// footer
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $footer-color;
  footer {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 1em 2em 0 2em;

      li a {
        color: white;
      }
    }
  }
}

// section-blog
.section-blog {
  padding: 2em;
  ul {
    padding: 1em;
    li {
      padding: 2em 0;
      a {
        color: $text-color-main;
        text-decoration: underline;
      }
    }
  }
}

// work-section
.section-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  img {
    width: 50vw;
  }
}

// section-about
.section-about {
  display: flex;
  flex-direction: column-reverse;
  padding: 2em;
}

@media only screen and (min-width: 600px) {
  .section  {
    padding: 2em 4em;
  }
  .section-blog, .section-about{
    padding: 2em 6em;
  }
}

@media only screen and (min-width: 800px) {
  .section {
    padding: 2em 5em 0 5em;
  }
  .section-blog {
    padding: 2em 8em;
  }
  .section-about {
    flex-direction: row;
    padding: 2em 8em;
    align-items: center;
    img {
      width: 40%;
      padding: 1em;
    }
  }
  .hero {
    .hero-image {
      padding: 0em 5em;
    }
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 12em 4em 12em;
    .content {
      text-align: left;
      h1{
        font-size: 2.5em;
      }
      p{
        font-size: 1em;
        width: 100%;
      }
    }

    .hero-image {
      padding: 0px;
    }
  }
  .section {
    padding: 4em 10em 0 10em;
  }
  .section-blog, .section-about {
    padding: 2em 10em;
  }
}

@media only screen and (min-width: 1200px) {
  .section {
    padding: 4em 12em 4em 12em;
  }
  .section-blog, .section-about {
    padding: 2em 12em;
  }
  .hero {
    .content {
      padding: 3em 4em;
    }
  }
  .hero .hero-image {
    padding-right: 2em;
  }
  
}

@keyframes droppingh1 {
}
@keyframes droppingp {
}

